datafactory/pipeline/bigfiveproject.json
{
	"name": "bigfiveproject",
	"properties": {
		"activities": [
			{
				"name": "Parking Bay Sensors",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['parking_zone']"
								},
								"sink": {
									"path": "$['parking_zone']"
								}
							},
							{
								"source": {
									"path": "$['bay_id']"
								},
								"sink": {
									"path": "$['bay_id']"
								}
							},
							{
								"source": {
									"path": "$['st_marker_id']"
								},
								"sink": {
									"path": "$['st_marker_id']"
								}
							},
							{
								"source": {
									"path": "$['status']"
								},
								"sink": {
									"path": "$['status']"
								}
							},
							{
								"source": {
									"path": "$['location']['latitude']"
								},
								"sink": {
									"path": "$['location']['latitude']"
								}
							},
							{
								"source": {
									"path": "$['location']['longitude']"
								},
								"sink": {
									"path": "$['location']['longitude']"
								}
							},
							{
								"source": {
									"path": "$['lat']"
								},
								"sink": {
									"path": "$['lat']"
								}
							},
							{
								"source": {
									"path": "$['lon']"
								},
								"sink": {
									"path": "$['lon']"
								}
							},
							{
								"source": {
									"path": "$[':@computed_region_evbi_jbp8']"
								},
								"sink": {
									"path": "$[':@computed_region_evbi_jbp8']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "MelbourneApiDataset",
						"type": "DatasetReference",
						"parameters": {
							"apiurl": "https://data.melbourne.vic.gov.au/resource/vh2v-4nfs.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MelbourneADLS2",
						"type": "DatasetReference",
						"parameters": {
							"filename": "ParkingBaySensors.json"
						}
					}
				]
			},
			{
				"name": "Car Park Bay Restrictions",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['bayid']"
								},
								"sink": {
									"path": "$['bayid']"
								}
							},
							{
								"source": {
									"path": "$['deviceid']"
								},
								"sink": {
									"path": "$['deviceid']"
								}
							},
							{
								"source": {
									"path": "$['description1']"
								},
								"sink": {
									"path": "$['description1']"
								}
							},
							{
								"source": {
									"path": "$['description2']"
								},
								"sink": {
									"path": "$['description2']"
								}
							},
							{
								"source": {
									"path": "$['description3']"
								},
								"sink": {
									"path": "$['description3']"
								}
							},
							{
								"source": {
									"path": "$['disabilityext1']"
								},
								"sink": {
									"path": "$['disabilityext1']"
								}
							},
							{
								"source": {
									"path": "$['disabilityext2']"
								},
								"sink": {
									"path": "$['disabilityext2']"
								}
							},
							{
								"source": {
									"path": "$['disabilityext3']"
								},
								"sink": {
									"path": "$['disabilityext3']"
								}
							},
							{
								"source": {
									"path": "$['duration1']"
								},
								"sink": {
									"path": "$['duration1']"
								}
							},
							{
								"source": {
									"path": "$['duration2']"
								},
								"sink": {
									"path": "$['duration2']"
								}
							},
							{
								"source": {
									"path": "$['duration3']"
								},
								"sink": {
									"path": "$['duration3']"
								}
							},
							{
								"source": {
									"path": "$['effectiveonph1']"
								},
								"sink": {
									"path": "$['effectiveonph1']"
								}
							},
							{
								"source": {
									"path": "$['effectiveonph2']"
								},
								"sink": {
									"path": "$['effectiveonph2']"
								}
							},
							{
								"source": {
									"path": "$['effectiveonph3']"
								},
								"sink": {
									"path": "$['effectiveonph3']"
								}
							},
							{
								"source": {
									"path": "$['endtime1']"
								},
								"sink": {
									"path": "$['endtime1']"
								}
							},
							{
								"source": {
									"path": "$['endtime2']"
								},
								"sink": {
									"path": "$['endtime2']"
								}
							},
							{
								"source": {
									"path": "$['endtime3']"
								},
								"sink": {
									"path": "$['endtime3']"
								}
							},
							{
								"source": {
									"path": "$['fromday1']"
								},
								"sink": {
									"path": "$['fromday1']"
								}
							},
							{
								"source": {
									"path": "$['fromday2']"
								},
								"sink": {
									"path": "$['fromday2']"
								}
							},
							{
								"source": {
									"path": "$['fromday3']"
								},
								"sink": {
									"path": "$['fromday3']"
								}
							},
							{
								"source": {
									"path": "$['starttime1']"
								},
								"sink": {
									"path": "$['starttime1']"
								}
							},
							{
								"source": {
									"path": "$['starttime2']"
								},
								"sink": {
									"path": "$['starttime2']"
								}
							},
							{
								"source": {
									"path": "$['starttime3']"
								},
								"sink": {
									"path": "$['starttime3']"
								}
							},
							{
								"source": {
									"path": "$['today1']"
								},
								"sink": {
									"path": "$['today1']"
								}
							},
							{
								"source": {
									"path": "$['today2']"
								},
								"sink": {
									"path": "$['today2']"
								}
							},
							{
								"source": {
									"path": "$['today3']"
								},
								"sink": {
									"path": "$['today3']"
								}
							},
							{
								"source": {
									"path": "$['typedesc1']"
								},
								"sink": {
									"path": "$['typedesc1']"
								}
							},
							{
								"source": {
									"path": "$['typedesc2']"
								},
								"sink": {
									"path": "$['typedesc2']"
								}
							},
							{
								"source": {
									"path": "$['typedesc3']"
								},
								"sink": {
									"path": "$['typedesc3']"
								}
							},
							{
								"source": {
									"path": "$['exemption1']"
								},
								"sink": {
									"path": "$['exemption1']"
								}
							},
							{
								"source": {
									"path": "$['exemption2']"
								},
								"sink": {
									"path": "$['exemption2']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "MelbourneApiDataset",
						"type": "DatasetReference",
						"parameters": {
							"apiurl": "https://data.melbourne.vic.gov.au/resource/ntht-5rk7.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MelbourneADLS2",
						"type": "DatasetReference",
						"parameters": {
							"filename": "CarParkBayRestrictions.json"
						}
					}
				]
			},
			{
				"name": "DataCleaning",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Parking Bay Sensors",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Car Park Bay Restrictions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/s545526@nwmissouri.edu/MDW-MelbourneParkingData/Databricks/CleaningNotebookV3"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "TransformNotebookP1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DataCleaning",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/s545526@nwmissouri.edu/MDW-MelbourneParkingData/Databricks/TransformNotebookP1"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "StartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "TransformNotebookP1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndTime",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TimeDifference",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "EndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "timedifference",
					"value": {
						"value": "@string(div(sub(ticks(formatDateTime(variables('EndTime'))),ticks(formatDateTime(variables('StartTime')))),1000))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"StartTime": {
				"type": "String"
			},
			"EndTime": {
				"type": "String"
			},
			"timedifference": {
				"type": "String"
			}
		},
		"annotations": []
	}
}